@import url(https://fonts.googleapis.com/css?family=Nunito);

.page-title {
  height: 59vh;
  max-height: 500px;
}

.breadcrumb-eco-shot {
  color: green !important;
}

#title-eco-shot {
  font-size: 4rem;
  color: green;
  margin-bottom: 3rem;
}

.eco-shot-subtitle {
  font-size: 16px;
  font-weight: bold;
}

.eco-shot-text {
  font-size: 14px;
  margin: 0;
  color: black;
}

.eco-shot-last-text {
  font-size: 14px !important;
}

.eco-shot-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0 !important;
  padding: 0;
}

.eco-shot-icons-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}

.title-indicacoes {
  margin-bottom: 5rem !important;
}

.title-ficha-tecnica {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.stats-inner {
  max-width: 60% !important;
  background-color: white;
  border-bottom: none !important;
}

.step-text > a {
  color: #BD1A2A !important;
}

.noticias {
  padding: 5rem;
}

.container-noticias {
  display: flex;
  justify-content: center;
  align-items: space-between;
  padding-top: 5rem;
}

.noticias-link {
  color: #BD1A2A;
}

.noticias-link:hover {
  color: #BD1A2A;
}

.container-noticias > div {
  font-size: 1.5rem;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.container-noticias > div > h4 {
  font-size: 2rem;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.title {
  margin-bottom: 4rem !important;
  margin-top: 5rem !important;
  color: #BD1A2A;
  font-size: 4rem;

}

.noticias-title {
  margin: auto !important;
}

.acc-btn {
  font-weight: 300 !important;
}

.lower-content > p {
  margin: 0;
}

.table tbody tr td {
  font-size: 1.5rem;
}

.table-cel-title {
  font-weight: bold;
}

.table-ficha-tecnica {
  margin-bottom: 6rem;
}

.iframe-banner {
  position: relative;
  padding-bottom: 30%;
  padding-top: 30px; 
  height: 59vh; 
  max-height: 500px;
  overflow: hidden;
  width: 70%;
}

.iframe-banner iframe,
.iframe-banner object,
.iframe-banner embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 59vh;
max-height: 500px;
}

.banner-logo {
  margin-top: 150px;
  margin-left: 100px;
}

.contact-button {
  width: 100%;
  margin: auto;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 18px;
}

.collapse.in {        
  display: block;       
}

.desativado {
  display: none;
}

.ativado {
  display: block;
}

.subscribe-email::-webkit-input-placeholder  {
  color: #000;
}

/* SECTION - POLITICA DE PRIVACIDADE */

.section-politica-container-left {
  font-size: 2rem;
}

/* SECTION - CONTATO */

.contact-form-title {
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 35px;
    width: 100%;
}

.contact-form-subtitle {
  color: #777777;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 70px;
  width: 100%;
}

.form-left {
  padding-left: 0;
}

.form-style {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 40px;
    border: 1px solid #CDCDCD;
    /* border-radius: 2px; */
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    padding: 0 20px;
    margin: 0 0 10px;
}

.contact-form-btn-limpar {
    background: #cdcdcd none repeat scroll 0 0;
    border-radius: 10px;
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 15px 5px;
    text-align: center;
    width: 100%;
}

.contact-form-btn-enviar{
  background: #f92c2c none repeat scroll 0 0;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 15px 5px;
    text-align: center;
    width: 100%;
}

.video-destaque {
  background-color: #53893D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.video-title {
  color: white;
}

.container-videos {
  background-color: #000;
  padding-bottom: 10rem;
}

.container-videos-2 {
  padding: 1rem 4rem;
}

.resultados {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultados-title {
  font-size: 3rem;
  margin-bottom: 50px;
  color: red;
}

.resultados-destaque {
  text-transform: uppercase;
  font-size: 5rem;
}

.container-resultados-img {
  margin-left: 8rem;
}

.indicacoes {
  padding: 10rem;
}

.indicacoes-v2 {
  background-color: #53893D;
}

.indicacoes-title {
  color: #53893D;
}

.indicacoes-title-v2 {
  color: white;
  margin-bottom: 100px !important;
}

.indicacoes-img {
  border-radius: 30px;
}

.social-icon-separator {
  color: white;
  font-size: 16px;
}

.alvo-block {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding: 0 30px;
  border-bottom: 1px solid rgba(255,255,255,0.20);
}

.alvo-block::before {
  content: '';
  position: absolute;
  left: -30px;
  bottom: 30px;
  top: 0px;
  border-left: 1px solid rgba(255,255,255,0.20);
}

.alvo-block-title {
  position: relative;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2em;
  padding: 0px 0px 24px;
  display: inline-block;
  text-transform: uppercase;
}

.alvo-block-title-text {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 27px;
  padding-left: 80px;
}

.alvo-block-link {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  font-family: 'Poppins', sans-serif;
}

/* .alvo-separator::before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 75px;
  height: 2px;
  background-color: rgb(189,26,42);
}

.alvo-separator::after {
  position: absolute;
    content: '';
    left: 0px;
    bottom: 2px;
    width: 25px;
    height: 4px;
    background-color: rgb(189,26,42);
} */

.alvo-block-separator-img {
  width: 75px;
  height: 9px;
}

.alvo-block-subtitle {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 15px;
  color: rgb(189,26,42);
}

.alvo-block-text {
  position: relative;
  color: #ffffff;
  font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
    margin-bottom: 35px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.icon-box .icon {
  font-size: 50px;
  color: rgba(255,255,255,0.40);
}

.alvo-block-link-saiba {
  display: hidden;
}

.chamada-principal {
  height: 150px;
  padding: 17rem;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chamada-principal-title {
  color: rgb(189,26,42);
  font-size: 4rem;
}

.section-indicacoes {
  background-color: #53893D;
  padding: 5rem;
}

.section-indicacoes-title {
  color: #F4F4F4;
}

.section-indicacoes-container-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.indicacoes-box {
  display: flex;
}

.section-indicacoes-container-select select {
  font-size: 20px;
  background-color: #F4F4F4;
  color: #53893D;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  appearance: none;
  padding: 15px;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.section-videos-iframe {
  position: relative;
  padding-bottom: 30%;
  padding-top: 30px; 
  height: 100%; 
  max-height: 500px;
  overflow: hidden;
  /* width: 70%; */
  min-height: 250px;

}

.section-videos-iframe iframe,
.section-videos-iframe object,
.section-videos-iframe embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; 
min-height: 250px;
max-height: 500px;
}

.section-videos-row {
  margin-bottom: 3rem;
}

.section-videos-subtitle {
  color: #F4F4F4;
  border-top: 1px red solid !important;
  padding-top: 1rem;
}

.section-filter {
  padding: 5rem;
}

.section-filter-buscar-header {
  border: red 3px black;
  background-color: #BD192A;
}

.section-filter-buscar-header-title {

}

.section-filter-buscar-header-title-btn {
  color: white;
  font-size: 3rem;
}

.section-filter-buscar-header-title-btn:hover {
  color:black;
  text-decoration: none;
}

.section-filter-buscar-header-title-btn:visited {
  color: inherit !important;
  text-decoration: none !important;
}

.section-filter-buscar-header-title-btn:active {
  color: inherit !important;
  text-decoration: none !important;
}

.section-filter-first-card-body {
  display: flex;
  justify-content: center;
}

/* SEARCH BAR */

.search-box {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-box-input {
  height: 40px;
  padding: 30px;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 16px;
  width: 40%;
  border: 2px solid #BD192A;
}

.search-box-btn {
  margin-left: 25px;
  color: black;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.search-box-btn:hover {
  text-decoration: none;
  color: inherit;
}

.search-icon {
  margin-left: 10px;
}

.btn-search {
  height: 40px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}

.section-filter-second-card-body {
  padding: 1rem;
}

.section-filter-second-card-body-first-row {
  max-width: 100%;
  width: 100%;
  padding: 2rem;
}

.section-filter-second-card-body-first-row-title {
  margin: 10px;
}

.btn-segment {
  font-size: 20px;
  padding: 1rem;
  width: 15%;
}

.box-select {
  display: flex;
}

.box-select select {
  font-size: 20px;
  border: 1px solid #BD192A;
  color: #BD192A;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  appearance: none;
  padding: 15px;
  border: none;
  margin-left: 20px;
  /* box-shadow: 0 5px 25px rgba(0, 0, 0, .5); */
}

.collapsed {
  text-decoration: none;
}

.btn-arrow {
  width: 30px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
  padding: 5px;
}

.card-politica {
  border: none;
}

.card-politica-header {
  padding: .75rem 1.25rem;
  border-top: 1px solid #BD192A;
  border-bottom: 1px solid #BD192A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-politica-header-title, .card-politica-header-icon {
  font-size: 2rem;
  font-weight: 400;
}

.card-politica-header-icon {
  color: #BD192A;
}