#trabalheConosco input,
#trabalheConosco select,
#trabalheConosco textarea,
#produtos input,
#produtos select
{
	padding:10px;
	background-color: transparent;
	border:2px solid rgb(189,26,42);
	font-size: 2em!important;
	border-radius: 5px;
}
#produtos input{padding:8px; }

#trabalheConosco input,
#trabalheConosco select,
#trabalheConosco textarea{
	font-size: 1em;
}

.sem-cor{filter: invert(1) grayscale(100%); }
.bleed{mix-blend-mode: multiply;}

.bg-gray{background-color: #e1e1e1;}
.normal-line{line-height: 1.5em;}

.accordion-box.style-two .block{
 padding:5px;
}

.border-ihara:hover,
.btn-ihara,
.bg-ihara{
	background: rgb(189,26,42)!important; 
	color: white!important;
}
.border-ihara{border: 1px solid rgb(189,26,42)!important; }
.border-ihara:hover{border: 1px solid #ffae00!important; }
.text-ihara{color: rgb(189,26,42); }
.text-ihara:hover{color: #ffae00; }


.div-img-vid{

	
		width: 100% !important;

}

